body {
  background-color: #242424;
}
.Weather {
  border: 0.5px solid #fffdf2;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;

  border-radius: 4px;
}
.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 50px;
  line-height: 40px;
  margin: 20px 0;
  color: #fffeed;
  font-weight: 600;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 30px;
  list-style: none;
  color: #fffeed;
}

.Weather img {
  height: 64px;
  width: 64px;
  margin-right: 10px;
  display: inline-block;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: #fffdf2;
  margin-left: 5px;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 0px;
  color: #fffdf2;
}
